.vid{
    display:block;
   
}
.vid1 h1{
    text-align: center;
}
.image{
    width: 100%;
    height: 100%;
}
.idv{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-basis:30%;
    
  }
.pe{
    border-bottom: 5px solid #0d6efd;
    margin: 10px 490px 50px 490px;
    padding-bottom: 20px;
    color: black;
    text-align: center;
  
}
.button-blog{
    color: white;
    background-color: #0d6efd;
    margin: 10px 290px 20px 0;
    
}
.videe{
    width:30% ;
    margin:20px ;
    padding: 0 ;
    
}  
.p-blog{
    text-align: left;
    margin: 10px;
}
.titre-blog{
    text-align: left;
    margin: 5px 5px 5px 10px;
}
.vid-image{
    width:100%;
    height:100%;
    margin:0;
    margin-bottom: 10px;
}

.p2-blog{
    margin: 0;
    background-color: #EEE;
    padding: 10px;
}
@media screen and (max-width: 450px){
    .pe{
     text-align: center; 
     width:300px;
     margin: 10px 50px 50px 50px;
     padding: 5px 0 5px 0;

    }
   
    
    .videe{
        width:90%;
        margin: 5%;
        padding: 0;
       height:100%;
    }
    .button-blog{
        margin: 10px 270px 10px 0;
        padding: 0;
      
    }
}
@media (min-width:451px) and (max-width: 780px){
    .pe{
        margin: 0 200px 0 200px;
        padding:5px 50px 5px 50px ;
        width: 400px;
    }
  .idv{
    display: flex;
    flex-wrap: wrap;
    flex-basis:45%;
  }
  .videe{
    width: 40%;
    margin: 30px 10px 10px 50px;
    
  }
  .button-blog{
    margin-right:155px;
   
  }
}