.D{
    width:100%;
    height:700px ;
 padding: 2% 5% 5% 5%;
}
.dd{
    display: flex;
    text-align: center;
    align-content:space-around;
    padding: 10px;
    margin-bottom: 50px;
    width: 100%;


}
.ddd{
  width:45%;
  text-align: left;
  margin-left: 70px;
  margin-top: 15px;
  margin-right: 30px;
}
.t-contact{
    text-align: center;
}
.h2-contact{
margin: 0;
padding: 0;
}
.photo-div{
    display: flex;
}
.img-contact{
    margin-top:0 ; 
   width: 30px;
   height: 30px; 
}
.d-ensemble{
    background-color: white;
    border-radius: 5px;
}
.carte{
    width:100%;
    height: 300px;
}
.d-6{
    padding: 10px;
}

.d-6{
    width: 40%;
    margin-right: 40px;
    margin-top: 4px;
}
.h2-contact{
    margin-bottom: 50px;
    text-align: left;
    border-bottom:3px solid  #0d6efd ;
}
.d{
   margin: 20px 0 0 0 ;
}
input{
    width: 500px;
}
textarea{
    width: 500px;
}
.envoyer{
    background-color: #0d6efd;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 230px;
    margin-top: 10px;
}
@media screen and (max-width: 450px){
    .dd{
        display: block;
        margin-bottom: 100px;
        
        
    }
    .ddd{
        width: 250px;
    }
    input{
        width: 200px;
    }
    textarea{
        width: 200px;
    }
    .envoyer{
        margin-left: 80px;
    }
    .d-6{
        width: 250px;
        height:100%;
        margin: 0 0 10px 50px ;
    }
    .carte{
        height:100%;
    }
    .D{
        height:100%;
    }
}
@media (min-width:451px) and (max-width: 936px){
    .dd{
        flex-basis:40% ;
        margin: 5% ;
        padding: 5% ;
    }
    .ddd{
        margin: 0;
        padding: 0;
    }
    input{
        width: 300px;
    }
    .d-6{
        margin:0 0 0 30px ; 
    }
    textarea{
        width: 300px;
    }
    .envoyer{
        margin-left: 120px;
    }
    .carte{
        width:270px;
        height:250px ;
        margin: 0;
    }
}